body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b131e;
}
/* Base styles */
.flex {
  display: flex;
  flex-direction: row;
  margin-top: 17.5px;
  margin-left: 17px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.flex .flex-1 {
  display: flex;
  box-sizing: border-box;
}

.flex-2-3-main {
  display: flex;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1260px) {
  .flex-2-3-main {
    flex-direction: column;
    width:100%;
  }
  .searchbar-div{
    margin-right: 15px;
  }
  .flex .flex-2{
    width: 95%;
    margin-right: 10px;
  }
  .flex .flex-3{
   width:97%;
  }
  .big-forecast-box{
    flex-direction: column;
  }
  .big-forecast-box .f-2-div{
    margin-top: 30px;
  }
  .todays-forecast-box {
    margin-bottom: 50px ;
    margin-top: 20px;
  }
  .sevenday-box .sevenday-text-box{
    margin-bottom: 20px;
  }
  .forecast-box .forecast-text{
    margin-bottom: 20px;
  }
}

.flex .flex-2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1 500px;
  max-width: 1000px;
  box-sizing: border-box;
}

.flex .flex-3 {
  display: flex;
  flex-direction: column;
  flex: 0 1 460px;
  margin-right: 40px;
  box-sizing: border-box;
}

.searchbar-div {
  position: relative; /* Ensure this element is the positioning context */
  display: flex;
  flex-direction: column;
}
.error-msg{
  position: absolute; 
  top: 40px;
  left:0px;
  right:0px;
  background-color: white;
  color: #0b131e;
  padding: 8px 9px;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-div {
  position: absolute; 
  top: 40px;
  left:0px;
  right:0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.suggestion-list-element {
  color: #0b131e;
  padding: 8px 12px; 
}

.suggestion-list-element:hover {
  opacity: 0.7;
  background-color: #606a78;
  color:white;
}

.search-bar {
  background-color: #232e3e;
  border: none;
  padding: 15px 7px;
  border-radius: 13px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  color: white;
}

.search-bar::placeholder {
  color: rgb(220, 220, 220);
}
.temp-box {
  display: flex;
  color: rgb(228, 228, 228);
  flex-direction: row;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 23px;
  justify-content: space-between;
}
.temp-box .statistics-box {
  display: flex;
  flex-direction: column;
}
.temp-box .city-box {
  display: flex;
  flex-direction: column;
}
.temp-box .cond-img{
  width: 160px;
}
.city-box .city-text {
  font-size: 36px;
  font-weight: 600;
}
.city-box .chance-text {
  font-size: 13px;
  color: rgb(151, 150, 150);
  line-height: 26px;
}
.city-box .degree-text {
  font-size: 63px;
  font-weight: 600;
  padding-top: 52px;
  color: white;
}
.todays-forecast-box {
  display: flex;
  flex-direction: column;
  background-color: #232e3e;
  padding: 20px;
  border-radius: 20px;
}

.big-forecast-box {
  display: flex;
  margin-top: 18px;
  flex-wrap: wrap;
}
.big-forecast-box .f-1-div,
.big-forecast-box .f-2-div{
  display: flex;
  justify-content: space-between;
  flex:1;
}
@media (min-width:1261px) {
  .big-forecast-box .f-2-div div:first-of-type {
    display: none;
  }
  .big-forecast-box .f-2-div div:nth-of-type(2){
    margin-left: 20px;
  }

}
.big-forecast-box .small-cond-img {
  width: 55px;
}

.big-forecast-box .forecast-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-text {
  color: rgb(151, 150, 150);
  font-size: 10px;
  font-weight: 800;
}

.forecast-box .forecast-temp {
  color: white;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 600;
}

.forecast-box .time {
  color: rgb(151, 150, 150);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 16px;
}

.vertical-line {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 13px;
}

.air-condition-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232e3e;
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  border-radius: 20px;
}
.air-condition-box .one-flex {
  display: flex;
  flex-direction: column;
}
.air-condition-box .two-three-main-flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.air-condition-box .tp-flex {
  display: flex;
  flex: 1;
}
.air-condition-box .two-flex {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}
.air-condition-box .three-flex {
  display: flex;
  flex-direction: column;
}
.air-condition-box .real-feel-box {
  display: flex;
  padding-bottom: 12px;
}
.air-condition-box .real-feel-img-box {
  display: flex;
  flex-direction: column;
}
.air-condition-box .real-feel-statistics {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.air-condition-box .air-condition-text {
  color: rgb(151, 150, 150);
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 14px;
}
.real-feel-statistics .feel-text {
  color: rgb(151, 150, 150);
  font-size: 15px;
}
.real-feel-statistics .feel-temp {
  color: white;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.real-feel-img-box .feel-img {
  width: 19px;
}
.three-flex .see-more-btn {
  border: none;
  color: white;
  background-color: rgb(59, 115, 226);
  border-radius: 20px;
  padding: 6px 10px;
  font-weight: 600;
  margin-top: -5px;
  cursor: pointer;
}
.three-flex .see-more-btn:hover {
  opacity: 0.8;
}
.sevenday-box {
  display: flex;
  flex-direction: column;
  background-color: #232e3e;
  color: rgb(151, 150, 150);
  border-radius: 20px;
  padding: 20px 38px 0px 38px;
  height: 86.5%;
  margin-left: 20px;
  margin-top: 70px;
  justify-content: space-evenly;
}

.sevenday-box .sevenday-text {
  color: rgb(151, 150, 150);
  font-size: 10px;
  font-weight: 800;
}
.sevenday-box .seven-img {
  width: 55px;
  margin-right: 20px;
}
.sevenday-box .text-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.sevenday-box .div-1-seven{
  display: flex;
  align-items: center;
  flex:0.6;
}
.sevenday-box .div-2-seven{
  display: flex;
  align-items: center;
  flex:1;
  justify-content: space-between;
}
.sevenday-box .cond-box {
  display: flex;
  align-items: center;
}
.sevenday-box .seven-cond-text {
  color: white;
  font-weight: 600;
}
.sevenday-box .statistics-text-1 {
  color: white;
}
.sevenday-box .statistics-text-2 {
  font-size: 15px;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
}
